.app{
  width: 50%;
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  justify-content: flex-start;
}
.title{
  text-align: center;
  background-color: rgb(245, 245, 245);
}
table{  
  margin: 10px auto;
}
td{
  padding: 10px;
  padding-left: 20px;
}
td:nth-child(2),th:nth-child(2){
  padding-left: 2.5em;
}
td:nth-child(3){
  text-align: right;
  padding-right: 20px;
}
.add-todo{
  margin: 10px auto;
}
.add-todo:focus{
  outline: none;
}
.input-fields{
  margin: 10px auto;
}
.input-box{
  margin-right: 10px;
} 